
/*title*/
.logo{
    position:absolute;
}

.fullLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.mdl-navigation__link{
    text-align: center;
    font-size: 4vmin;
    font-family: Arvo;
}

.middle{
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    /* border: black; */
    border-color: #9cafb7;
    background-color: #adcbd8b5;
    height: 80vmin;
    margin-top: 3vmin;
}
.page-content{
    width: auto;
}
/*app bar*/
.mdl-layout__header{
    background-color: #357888;
    height: 60px;
}

.logo{

}
.house{
    height: 95px;
    /* text-align: center; */
    margin: 20px;
    margin-left: 7vmin;
    /* position: absolute; */
    /* right: 50px; */
}

.word{
    margin-top: 7px;
}
